<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
        <div class="w3-center">
            <span onclick="document.getElementById('id01').style.display='none'" id="btnClose" class="w3-button w3-large w3-hover-Sand w3-display-topright" title="Close Modal">&times;</span>

        </div>

        <div class="w3-row w3-border w3-topbar w3-bottombar w3-leftbar w3-rightbar">
                       

            <div id="monogramimage"  class="w3-half w3-container  w3-Sand   w3-center ">
            
            </div>   
               <div class="w3-half w3-container   w3-cell w3-light">
                 
                <p class="line-item-property__field">
                </p>
                <p class="line-item-property__field">
                </p>
                <p class="line-item-property__field">

                     <label class="ep_block  ">Monogram (first, LAST NAME, middle)<span class="validity"></span></label>
                    <input class="w3-input w3-border  w3-round w3-margin-bottom" form="{{ form_id}}" id="MonogramText" type="text" maxlength="3"  placeholder="ABC"  name="properties[Monogram (first, LAST NAME, middle)]" required>
                  
                        
                </p>

                  <div id="validatorId">  </div>
                  <label class="ep_block  ">
                        <div id="debug">  </div>
                      <div id="hiddenMonogramImage">  </div>
                      <div id="PayLinkMonogramImage">  </div>                          
                      <div id="showMonogramImage">  </div>
                    </label>

                    <select required id="MonogramFont"  style="display: none;" class="w3-select w3-border" name="properties[Monogram Style]">
                        <option value="Circle" data-valname="101MIcedCoffeeCir" data-option_value_key="0">Circle</option> 
                    </select>
                </p>
                <p class="line-item-property__field">
                    <label class="ep_block  ">Thread Color:</label>
                     <select required id="threadcolor" form="{{ form_id}}" class="w3-select w3-border" name="properties[Thread Color]">
                      <option value="Black" data-valcolor="A000000" data-option_value_key="25">Black</option>  
                        <option value="Army Green" data-valcolor="A908f68" data-option_value_key="25">Army Green</option> 
                        <option value="Burgundy" data-valcolor="A781818" data-option_value_key="0">Burgundy</option>
                        <option value="Bright Fuchsia" data-valcolor="Af248a8" data-option_value_key="17">Bright Fuchsia</option>
                        <option value="Coral" data-valcolor="Affa2b8" data-option_value_key="20">Coral</option>
                        <option value="Cream" data-valcolor="Afffdf2" data-option_value_key="23">Cream</option>
                        <option value="Dusty Blue" data-valcolor="A778c9f" data-option_value_key="23">Dusty Blue</option>
                        <option value="Fire Orange" data-valcolor="Aff2a00" data-option_value_key="11">Fire Orange</option>
                        <option value="Fuchsia" data-valcolor="Ae24593" data-option_value_key="16">Fuchsia</option>
                        <option value="Gold" data-valcolor="Ae3cc94" data-option_value_key="3">Gold</option>
                        <option value="Green" data-valcolor="A22812d" data-option_value_key="8">Green</option>
                        <option value="Grey" data-valcolor="A838383" data-option_value_key="22">Grey</option>
                        <option value="Khaki" data-valcolor="Abfa68e" data-option_value_key="22">Khaki</option>
                        <option value="Peach" data-valcolor="Af7af9c" data-option_value_key="3">Peach</option>
                        <option value="Deep Teal" data-valcolor="A215b5f" data-option_value_key="3">Deep Teal</option>
                        <option value="Light Blue" data-valcolor="A80e1ea" data-option_value_key="11">Light Blue</option>
                        <option value="Light Brown" data-valcolor="AA77D5B" data-option_value_key="11">Light Brown</option>
                        <option value="Light Purple" data-valcolor="Ad39ef2" data-option_value_key="14">Light Purple</option>
                        <option value="Light Teal" data-valcolor="A8ee9db" data-option_value_key="10">Light Teal</option>
                        <option value="Light Yellow" data-valcolor="Affee91" data-option_value_key="7">Light Yellow</option>
                        <option value="Mint" data-valcolor="A6dcb97" data-option_value_key="7">Mint</option>
                        <option value="Moss Green" data-valcolor="A8c9970" data-option_value_key="7">Moss Green</option>
                        <option value="Mauve" data-valcolor="Adda9ab" data-option_value_key="7">Mauve</option>
                        <option value="Navy" data-valcolor="A222859" data-option_value_key="12">Navy</option>
                        <option value="Neon Green" data-valcolor="Ac2ff4c" data-option_value_key="6">Neon Green</option>
                        <option value="Neon Pink" data-valcolor="Aff92c9" data-option_value_key="18">Neon Pink</option>
                        <option value="Neon Yellow" data-valcolor="Afffc0a" data-option_value_key="5">Neon Yellow</option>
                        <option value="Orange" data-valcolor="Aff802b" data-option_value_key="2">Orange</option>
                        <option value="Pale Pink" data-valcolor="Affdfed" data-option_value_key="21">Pale Pink</option>
                        <option value="Periwinkle" data-valcolor="A8f97e1" data-option_value_key="15">Periwinkle</option>
                        <option value="Pink" data-valcolor="Aff9dc8" data-option_value_key="19">Pink</option>
                        <option value="Plum" data-valcolor="A683b5c" data-option_value_key="19">Plum</option>
                        <option value="Purple" data-valcolor="A6c16a2" data-option_value_key="13">Purple</option>
                        <option value="Red" data-valcolor="Add0b0b" data-option_value_key="1">Red</option> 
                        <option value="Rose Pink" data-valcolor="Ada7ca7" data-option_value_key="1">Rose Pink</option>
                        <option value="Royal Blue" data-valcolor="A2124c1" data-option_value_key="26">Royal Blue</option>
                        <option value="Rust" data-valcolor="Abc5b23" data-option_value_key="26">Rust</option>
                        <option value="Teal" data-valcolor="A23bdd4" data-option_value_key="9">Teal</option>
                        <option value="Turquoise " data-valcolor="A40b4a5" data-option_value_key="9">Turquoise </option>
                        <option value="Sunflower Yellow" data-valcolor="Aedcd1f" data-option_value_key="9">Sunflower Yellow</option>
                        <option value="White" data-valcolor="Affffff" data-option_value_key="24">White</option>
                        <option value="Yellow" data-valcolor="Affec4e" data-option_value_key="4">Yellow</option>
                     
                  </select>
                </p>
                <p class="line-item-property__field">
                    <label class="ep_block  ">Border Color:</label>
                     <select required id="bordercolor" form="{{ form_id}}" class="w3-select w3-border" name="properties[Border Color]">
                      <option value="Black" data-valcolor="A000000" data-option_value_key="25">Black</option>  
                        <option value="Army Green" data-valcolor="A908f68" data-option_value_key="25">Army Green</option> 
                        <option value="Burgundy" data-valcolor="A781818" data-option_value_key="0">Burgundy</option>
                        <option value="Bright Fuchsia" data-valcolor="Af248a8" data-option_value_key="17">Bright Fuchsia</option>
                        <option value="Coral" data-valcolor="Affa2b8" data-option_value_key="20">Coral</option>
                        <option value="Cream" data-valcolor="Afffdf2" data-option_value_key="23">Cream</option>
                        <option value="Dusty Blue" data-valcolor="A778c9f" data-option_value_key="23">Dusty Blue</option>
                        <option value="Fire Orange" data-valcolor="Aff2a00" data-option_value_key="11">Fire Orange</option>
                        <option value="Fuchsia" data-valcolor="Ae24593" data-option_value_key="16">Fuchsia</option>
                        <option value="Gold" data-valcolor="Ae3cc94" data-option_value_key="3">Gold</option>
                        <option value="Green" data-valcolor="A22812d" data-option_value_key="8">Green</option>
                        <option value="Grey" data-valcolor="A838383" data-option_value_key="22">Grey</option>
                        <option value="Khaki" data-valcolor="Abfa68e" data-option_value_key="22">Khaki</option>
                        <option value="Peach" data-valcolor="Af7af9c" data-option_value_key="3">Peach</option>
                        <option value="Deep Teal" data-valcolor="A215b5f" data-option_value_key="3">Deep Teal</option>
                        <option value="Light Blue" data-valcolor="A80e1ea" data-option_value_key="11">Light Blue</option>
                        <option value="Light Brown" data-valcolor="AA77D5B" data-option_value_key="11">Light Brown</option>
                        <option value="Light Purple" data-valcolor="Ad39ef2" data-option_value_key="14">Light Purple</option>
                        <option value="Light Teal" data-valcolor="A8ee9db" data-option_value_key="10">Light Teal</option>
                        <option value="Light Yellow" data-valcolor="Affee91" data-option_value_key="7">Light Yellow</option>
                        <option value="Mint" data-valcolor="A6dcb97" data-option_value_key="7">Mint</option>
                        <option value="Moss Green" data-valcolor="A8c9970" data-option_value_key="7">Moss Green</option>
                        <option value="Mauve" data-valcolor="Adda9ab" data-option_value_key="7">Mauve</option>
                        <option value="Navy" data-valcolor="A222859" data-option_value_key="12">Navy</option>
                        <option value="Neon Green" data-valcolor="Ac2ff4c" data-option_value_key="6">Neon Green</option>
                        <option value="Neon Pink" data-valcolor="Aff92c9" data-option_value_key="18">Neon Pink</option>
                        <option value="Neon Yellow" data-valcolor="Afffc0a" data-option_value_key="5">Neon Yellow</option>
                        <option value="Orange" data-valcolor="Aff802b" data-option_value_key="2">Orange</option>
                        <option value="Pale Pink" data-valcolor="Affdfed" data-option_value_key="21">Pale Pink</option>
                        <option value="Periwinkle" data-valcolor="A8f97e1" data-option_value_key="15">Periwinkle</option>
                        <option value="Pink" data-valcolor="Aff9dc8" data-option_value_key="19">Pink</option>
                        <option value="Plum" data-valcolor="A683b5c" data-option_value_key="19">Plum</option>
                        <option value="Purple" data-valcolor="A6c16a2" data-option_value_key="13">Purple</option>
                        <option value="Red" data-valcolor="Add0b0b" data-option_value_key="1">Red</option> 
                        <option value="Rose Pink" data-valcolor="Ada7ca7" data-option_value_key="1">Rose Pink</option>
                        <option value="Royal Blue" data-valcolor="A2124c1" data-option_value_key="26">Royal Blue</option>
                        <option value="Rust" data-valcolor="Abc5b23" data-option_value_key="26">Rust</option>
                        <option value="Teal" data-valcolor="A23bdd4" data-option_value_key="9">Teal</option>
                        <option value="Turquoise " data-valcolor="A40b4a5" data-option_value_key="9">Turquoise </option>
                        <option value="Sunflower Yellow" data-valcolor="Aedcd1f" data-option_value_key="9">Sunflower Yellow</option>
                        <option value="White" data-valcolor="Affffff" data-option_value_key="24">White</option>
                        <option value="Yellow" data-valcolor="Affec4e" data-option_value_key="4">Yellow</option>
                     
                  </select>
                </p>
                <p class="line-item-property__field">

                    {%- include 'MonoAddtoCart' -%}
    
                </div>
            </div>
        </div>
    </div>
        
<!---MonogramPreview End--->
 <button type="button" id="preview-monogram" onclick="document.getElementById('id01').style.display='block'" class="button button--primary">Add your Monogram</button>